header {
    max-width: 1840px;
    height: var(--header-height);
    padding: 30px 40px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1.logo {
    width: 84px;
    height: 42px;
    font-size: 0;
}
.category {
    display: flex;
    gap: 50px;
}
.category .category_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--font22);
    font-weight: var(--medi);
    color: var(--dark-gray);
}
.category_item .arrow_right {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../img/icon/right_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
}


@media screen and (max-width: 768px) {
    header {
        padding: 30px 20px;
    }
    h1.logo {
        width: 90px;
        height: 100%;
    }
}

@media screen and (max-width: 540px) {
    .category {
        gap: 20px;
    }
    .category .category_item {
        gap: 5px;
        font-size: var(--font14);
    }
    .category_item .arrow_right {
        width: 20px;
        height: 20px;
    }
}