main {
    max-width: 1840px;
    height: calc(100vh - var(--header-height));
    margin: auto;
}
section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 50px;
}
.links .link_wrapper {
    width: min(323px, 16.82vw);
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.links .link_wrapper .link {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--white);
    border-radius: 4.17vw;
    -webkit-box-shadow: -23px -23px 45px 0px rgba(255,255,255,0.6),
    28px 28px 50px 0px rgba(13,39,80,0.16);
    -moz-box-shadow: -23px -23px 45px 0px rgba(255,255,255,0.6),
    28px 28px 50px 0px rgba(13,39,80,0.16);
    box-shadow: -23px -23px 45px 0px rgba(255,255,255,0.6),
    28px 28px 50px 0px rgba(13,39,80,0.16);
    transition: all 300ms ease-in-out;
}
.links .link_wrapper:hover .link {
    transform: translateY(-10px);
}
.links .link_wrapper .link a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_wrapper .img_wrap {
    max-width: calc(100% - 80px);
}
.link_wrapper01 .img_wrap {
    width: 155px;
}
.link_wrapper02 .img_wrap,
.link_wrapper03 .img_wrap {
    width: 120px;
}
.link_wrapper04 .img_wrap {
    width: 133px;
}

.link_wrapper .link_title {
    display: inline-block;
    width: max-content;
    font-size: var(--font30);
    color: var(--black);
    opacity: 0.5;
    transition: all 300ms ease-in-out;
}
.link_wrapper:hover > .link_title {
    font-weight: var(--medi);
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    main {
        height: calc(100vh - var(--header-height)* 1.5);
        padding: 0 20px;
    }
    .links {
        width: 80%;
        gap: 40px 20px;
    }
    .links .link_wrapper {        
        flex: 0 1 calc(50% - 20px);
        gap: 30px;
    }
}

@media screen and (max-width: 540px) {
    .links {
        width: 90%;
    }
    .link_wrapper .link_title {
        font-size: var(--font16);
    }
}

@media screen and (max-width: 414px) {
}