/* SNS 간편로그인 */
.sns_login_wrap {margin: 35px 0 50px;}
.sns_login_wrap button {display: flex; justify-content: center; align-items: center; width: 100%; height: 50px; position: relative; text-align: center; font-size: 1em;}
.sns_login_wrap button .logo {position: absolute; left: 15px; top: 50%; transform: translateY(-50%);}
.sns_login_wrap button.login_naver {background: #03C57A; color: #fff; margin-bottom: 5px;}
.sns_login_wrap button.login_kakao {background: #FEE500; color: #402510;}




@media screen and (max-width: 768px) {
  .sns_login_wrap {margin: 30px 0 40px;}
  .sns_login_wrap button {height: 42px;}
}